<div id="examples">
  <div class="container">
    <div class="section-heading">
      <h1 data-wow-delay=".3s" class="title wow fadeInDown" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">Live Examples</h1>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="col-sm-4">Custom Actions</th>
            <th class="col-sm-4">Requests</th>
            <th class="col-sm-4">Results</th>
          </tr>
        </thead>
        <tbody>
          {{page-sections/examples/post-action}}
          {{page-sections/examples/burn-action}}
          {{page-sections/examples/user-action}}
        </tbody>
      </table>
    </div>
  </div>
</div>
