<div id="examples">
  <div class="container">
    <div class="section-heading">
      <h1 data-wow-delay=".3s" class="title wow fadeInDown" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">Live Examples</h1>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="col-sm-4">Custom Actions</th>
            <th class="col-sm-4">Requests</th>
            <th class="col-sm-4">Results</th>
          </tr>
        </thead>
        <tbody>
          <tr class="action">
            <td>
              <a class="btn btn-lg btn-outline btn-ember">Publish post</a>
            </td>
            <td>
              <p class="status text-muted">Pending</p>
              <h4 class="request">posts/1/publish</h4>
            </td>
            <td>
              <span class="text-muted">Published:</span> <span class="h4 text-success">TRUE</span>
            </td>
          </tr>

          <tr class="action">
            <td>
              <a class="btn btn-lg btn-outline btn-ember">Generate Profile</a>
            </td>
            <td>
              <p class="status text-muted">Pending</p>
              <h4 class="request">users/1/generate</h4>
            </td>
            <td>
              <span class="h4">
                {{ember-initials name="Maciej Kwaśniak" class="img-circle"}} Maciej Kwaśniak
              </span>
            </td>
          </tr>

          <tr class="action">
            <td>
              <a class="btn btn-lg btn-outline btn-ember">Burn all bridges</a>
            </td>
            <td>
              <p class="status text-muted">Pending</p>
              <h4 class="request">bridges/burn</h4>
            </td>
            <td>
              <span class="h4 text-success">Success</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
